body {
	font-family: Helvetica;
	padding-bottom: 44px;
}

body, nav {
	background-color: #E3E4EA;
}

button, input, textarea {
	border-radius: 4px;
}

textarea, input[type=text], input[type=email], input[type=url], input[type=tel], input[type=password] {
	padding: 4px;
	border: 1px solid #AAAAAA;
}

button, [type=button], [type=submit], [type=reset] {
	background-color: #FFF;
}

.bForm-results {
	font-size: x-small;
}

#activityIndicator {
	left: 50%;
	margin-left: -30px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.75);
	border-radius: 10px;
	color: white;
}

#activityIndicator img {
	display: block;
	-webkit-animation-iteration-count: infinite;
}

#activityIndicator.hidden img {
	display: none;
	-webkit-animation-name: none;
}

#loginStatus {
	padding: 2px;
}

.welcomeBox {
	font-weight: bold;
}

.bordered {
	border: 1px solid #B7B7BC;
	background-color: #FFF;
	border-radius: 8px;
}

.topLeft {
	-moz-border-top-left-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	border-top-left-radius: 8px;
}

.topRight {
	-moz-border-top-right-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-right-radius: 8px;
}

.bottomLeft {
	-moz-border-bottom-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.bottomRight {
	-moz-border-bottom-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

#navBoxHeader, .navBar {
	width: 100%;
	height: 41px;
}

#navBoxHeader {
	top: 0;
	color: #73777F;
	font-size: large;
	font-weight: bolder;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#AAAAB8));
	text-shadow: 1px 1px 1px #DEDEE4;
	text-align: center;
}

.navButtonsHolder {
	position: absolute;
	width: 100%;
}

.navLabel {
	padding: 10px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #73777F;
	font-size: large;
	font-weight: bolder;
	text-shadow: 1px 1px 1px #DEDEE4;
	text-align: center;
	z-index: 0;
}

.button {
	position: relative;
	margin: 5px;
	height: 30px;
	z-index: 2;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 12px;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	background-color: transparent;
	background-repeat: repeat-x;
	-webkit-background-clip: padding-box;
	-webkit-background-origin: padding-box;
	border-style: none;
}
.squareButton, .roundButton, .backButton { background-image: url(/_R_/ios/3/Images/button.png); }
.squareButton {
	border-width: 0px 5px;
	-webkit-border-image: url(/_R_/ios/3/Images/squareButton.png) 0 5 0 5 repeat stretch;
}
.roundButton {
	border-width: 0px 15px;
	-webkit-border-image: url(/_R_/ios/3/Images/roundButton.png) 0 15 0 15 repeat stretch;
}
.backButton {
	border-width: 0px 5px 0px 16px;
	-webkit-border-image: url(/_R_/ios/3/Images/backButton.png) 0 5 0 16 repeat stretch;
}

#homeButton {
	padding: 0;
}

#helpButton {
	font-weight: bolder;
}

.navLeft {
	margin-right: 10px;
}

.navRight {
	margin-left: 10px;
}

.view {
	display: none;
	padding-top: 10px;
}

.view.animating {
	position: absolute;
	top: 0px;
}

.box, ul.box {
	margin: 10px;
	margin-top: 0px
}

.paddedBox {
	padding: 10px;
}

ul.box > li {
	padding: 8px;
	border-bottom: 1px solid rgb(224, 224, 224);
	border-left: 1px solid #B7B7BC;
	border-right: 1px solid #B7B7BC;
	background-color: #FFF;
	background-image: url(/_R_/ios/3/Images/chevron.png);
	background-repeat: no-repeat;
	background-position: 95% center;
}

ul.box > li:first-child {
	border-left: 1px solid #B7B7BC;
	border-top: 1px solid #B7B7BC;
	border-right: 1px solid #B7B7BC;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

ul.box > li:last-child {
	border-right: 1px solid #B7B7BC;
	border-bottom: 1px solid #B7B7BC;
	border-left: 1px solid #B7B7BC;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

ul.box > li > .label, ul.box > li > .description {
	margin-right: 6%;
}

#descriptionBox, #argsBox {
	text-align: center;
}

.bLive-box, .bLive-link {
	border-radius: 8px;
}

/* MyAnswersSideBar styles */

#BlinkSideBar {
	border-right: 1px solid #000;
}

#BlinkSideBar > ul > li {
	border-top: 1px solid #EDEEF0;
	border-bottom: 1px solid #D7D8DB;
}

#BlinkSideBar > ul > li.selected {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#058CF5), to(#015DE6));
	color: white;
	text-shadow: 0px -1px 1px #1D2863;
}

/* end MyAnswersSideBar styles */

@-webkit-keyframes spinner {
	from {
		-webkit-transform: rotate(0deg);
	}
	8.32% {
		-webkit-transform: rotate(0deg);
	}
	8.33% {
		-webkit-transform: rotate(30deg);
	}
	16.65% {
		-webkit-transform: rotate(30deg);
	}
	16.66% {
		-webkit-transform: rotate(60deg);
	}
	24.99% {
		-webkit-transform: rotate(60deg);
	}
	25% {
		-webkit-transform: rotate(90deg);
	}
	33.32% {
		-webkit-transform: rotate(90deg);
	}
	33.33% {
		-webkit-transform: rotate(120deg);
	}
	41.65% {
		-webkit-transform: rotate(120deg);
	}
	41.66% {
		-webkit-transform: rotate(150deg);
	}
	49.99% {
		-webkit-transform: rotate(150deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
	}
	58.32% {
		-webkit-transform: rotate(180deg);
	}
	58.33% {
		-webkit-transform: rotate(210deg);
	}
	66.65% {
		-webkit-transform: rotate(210deg);
	}
	66.66% {
		-webkit-transform: rotate(240deg);
	}
	74.99% {
		-webkit-transform: rotate(240deg);
	}
	75% {
		-webkit-transform: rotate(270deg);
	}
	83.32% {
		-webkit-transform: rotate(270deg);
	}
	83.33% {
		-webkit-transform: rotate(300deg);
	}
	91.65% {
		-webkit-transform: rotate(300deg);
	}
	91.66% {
		-webkit-transform: rotate(330deg);
	}
	99.99% {
		-webkit-transform: rotate(330deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
