body {
	background-color: #E3E4EA;
	font-family: Helvetica;
	font-size: larger;
}

td {
	padding: 4px;
}

textarea, input[type=text], input[type=email], input[type=url], input[type=tel], input[type=password] {
	padding: 5px;
	border: 1px solid #AAAAAA;
	-webkit-border-radius: 5px;
}

button, input[type=submit] {
	padding: .25em 0.5em;
}

.googlemap {
	width: 100%;
	height: 650px;
}

#activityIndicator {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -30px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.75);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	z-index: 5;
	color: white;
}

#activityIndicator img {
	display: block;
	-webkit-animation-iteration-count: infinite;
}

#activityIndicator.hidden img {
	display: none;
	-webkit-animation-name: none;
	-webkit-animation-iteration-count: 1;
}

#bannerBox {
	clear: none;
	float: left;
	width: 50%;
}

#bannerBox > img {
	width: 100%;
}

#welcomeMsgArea {
	float: right;
	width: 50%;
}

#welcomeMessage {
	position: relative;
	padding: 15px;
	font-weight: bold;
}

#loginStatus {
	padding: 4px;
	font-size: small;
	text-align: center;
	text-shadow: 1px 1px 1px #DEDEE4;
}

#loginStatus > a { display: block; font-size: medium; color: blue; text-decoration: none; }
#loginStatus > a:link { display: block; font-size: medium; color: blue; text-decoration: none; }
#loginStatus > a:visited { display: block; font-size: medium; color: blue; text-decoration: none; }
#loginStatus > a:hover { display: block; font-size: medium; color: blue; text-decoration: none; }
#loginStatus > a:active { display: block; font-size: medium; color: blue; text-decoration: none; }

.bordered {
	border: 1px solid #B7B7BC;
	background-color: #FFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.roundedTopLeft {
	border: none;
	-moz-border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
}

.roundedTopRight {
	border: none;
	-moz-border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}

.roundedBottomLeft {
	border: none;
	-moz-border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

.roundedBottomRight {
	border: none;
	-moz-border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

#leftBox, #rightBox {
	position: absolute;
	top: 0px;
	min-height: 100%;
	width: 200px;
	z-index: 5;
	-o-transition: -o-transform 0.4s linear;
	-moz-transition: -moz-transform 0.4s linear;
	-webkit-transition: -webkit-transform 0.4s linear;
	background-color: #E3E4EA;
}

#leftBox {
	left: -200px;
}

#leftBox.leftShown {
	-o-transform: translateX(99%);
	-moz-transform: translateX(99%);
	-webkit-transform: translateX(99%);
	border-right: 1px solid black;
}

#rightBox {
	display: none;
	right: -200px;
}

#rightBox.leftShown {
	-o-transform: translateX(-99%);
	-moz-transform: translateX(-99%);
	-webkit-transform: translateX(-99%);
	border-left: 1px solid black;
}

#leftContent > a > img {
	width: 100%;
	max-width: 100%;
	display: block;
}

#leftContent > ul {
	list-style: none;
}

#leftContent > ul > a:link { color: inherit; text-decoration: none; }
#leftContent > ul > a:visited { color: inherit; text-decoration: none; }
#leftContent > ul > a:hover { color: inherit; text-decoration: none; }
#leftContent > ul > a:active { color: inherit; text-decoration: none; }

#leftContent > ul > a > li {
	padding: 20px 10px;
	border-top: 1px solid #EDEEF0;
	border-bottom: 1px solid #D7D8DB;
	font-weight: bold;
}

#leftContent > ul > a > li.selected {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#058CF5), to(#015DE6));
	color: white;
	text-shadow: 0px -1px 1px #1D2863;
}

#leftContent > a > img.animating {
	-o-transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	-webkit-transition: -webkit-transform 0.2s ease;
}

#leftContent > a > img.hidden {
	-webkit-transform: translateX(-100%);
}

#leftContent > a > img.selected {
	-webkit-border-left-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#058CF5), to(#015DE6)) 10 10 10 10 repeat repeat;
}

#stackLayout {
	position: relative;
	top: 0;
	right: 0;
	-o-transition: margin 0.4s linear;
	-moz-transition: margin 0.4s linear;
	-webkit-transition: margin 0.4s linear;
}

#stackLayout.leftShown {
	margin-left: 200px;
}

#stackLayout.rightShown {
	margin-right: 200px;
}

.navBar {
	position: relative;
	width: 100%;
	color: #73777F;
	font-size: large;
	font-weight: bolder;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#AAAAB8));
	text-shadow: 1px 1px 1px #DEDEE4;
	text-align: center;
	height: 41px;
}

#navButtonsHolder {
	width: 100%;
}

.navLabel {
	padding: 10px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #73777F;
	font-size: large;
	font-weight: bolder;
	text-shadow: 1px 1px 1px #DEDEE4;
	text-align: center;
	z-index: 0;
}

#mainLabel {
	margin: 0px 150px;
}

.button {
	margin: 5px;
	height: 30px;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 12px;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.238281) 0px -1px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	background-repeat: repeat-x;
	-webkit-background-clip: padding-box;
	-webkit-background-origin: padding-box;
	border-style: none;
	z-index: 2;
}

.button[disabled] {
	opacity: 0.5;
}

.squareButton {
	background-image: url("./Images/button.png");
	border-width: 0px 5px;
	-webkit-border-image: url("./Images/squareButton.png") 0 5 0 5 repeat stretch;
}

.roundButton {
	background-image: url("./Images/button.png");
	border-width: 0px 15px;
	-webkit-border-image: url("./Images/roundButton.png") 0 15 0 15 repeat stretch;
}

.backButton {
	background-image: url("./Images/button.png");
	border-width: 0px 5px 0px 16px;
	-webkit-border-image: url("./Images/backButton.png") 0 5 0 16 repeat stretch;
}

.navBar .backButton {
	background: transparent url(Images/backButton.png) no-repeat center top;
	border: 0;
	height: 30px;
	width: 45px;
}

.homeButton {
	background: transparent url(Images/homeButton.png) no-repeat center top;
	height: 30px;
	width: 33px;
}

.navLeft {
	margin-right: 10px;
}

.navRight {
	margin-left: 10px;
}

.view {
	display: none;
}

.view.sliding {
	position: absolute;
}

.box {
	margin: 30px;
}

.paddedBox {
	padding: 10px;
}


ul.box {
	background: none;
}

ul.box li {
	overflow: hidden;
	padding: 15px;
	border-bottom: 1px solid rgb(224, 224, 224);
	border-left: 1px solid #B7B7BC;
	border-right: 1px solid #B7B7BC;
	background: #FFF;
	min-height: 50px;
}

ul.box > a:first-child > li {
	border-left: 1px solid #B7B7BC;
	border-top: 1px solid #B7B7BC;
	border-right: 1px solid #B7B7BC;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}

ul.box > a:last-child > li {
	border-right: 1px solid #B7B7BC;
	border-bottom: 1px solid #B7B7BC;
	border-left: 1px solid #B7B7BC;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

ul.box .label {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: larger;
	font-weight: bold;
}

#answerSpacesList .label {
	overflow: auto;
	white-space: normal;
}

#keywordList .label, #keywordList .description {
	margin-right: 30px;
}

ul.box .description {
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 5px;
	font-size: smaller;
}

ul.box .nextArrow {
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -7px; /* half height */
	width: 8px;
	height: 13px;
	background-image: url(Images/chevron.png);
	background-repeat: no-repeat;
}

ul.box li.selected {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#058CF5), to(#015DE6));
	color: white;
	text-shadow: 0px -1px 1px #1D2863;
}

ul.box li.selected .nextArrow {
	background-image: url(Images/chevron_white.png);
}

#descriptionBox, #argsBox {
	text-align: center;
}

@-webkit-keyframes spinner {
	from {
		-webkit-transform: rotate(0deg);
	}
	8.32% {
		-webkit-transform: rotate(0deg);
	}
	8.33% {
		-webkit-transform: rotate(30deg);
	}
	16.65% {
		-webkit-transform: rotate(30deg);
	}
	16.66% {
		-webkit-transform: rotate(60deg);
	}
	24.99% {
		-webkit-transform: rotate(60deg);
	}
	25% {
		-webkit-transform: rotate(90deg);
	}
	33.32% {
		-webkit-transform: rotate(90deg);
	}
	33.33% {
		-webkit-transform: rotate(120deg);
	}
	41.65% {
		-webkit-transform: rotate(120deg);
	}
	41.66% {
		-webkit-transform: rotate(150deg);
	}
	49.99% {
		-webkit-transform: rotate(150deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
	}
	58.32% {
		-webkit-transform: rotate(180deg);
	}
	58.33% {
		-webkit-transform: rotate(210deg);
	}
	66.65% {
		-webkit-transform: rotate(210deg);
	}
	66.66% {
		-webkit-transform: rotate(240deg);
	}
	74.99% {
		-webkit-transform: rotate(240deg);
	}
	75% {
		-webkit-transform: rotate(270deg);
	}
	83.32% {
		-webkit-transform: rotate(270deg);
	}
	83.33% {
		-webkit-transform: rotate(300deg);
	}
	91.65% {
		-webkit-transform: rotate(300deg);
	}
	91.66% {
		-webkit-transform: rotate(330deg);
	}
	99.99% {
		-webkit-transform: rotate(330deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
