body {
	background-color: #E3E4EA;
	font-family: Helvetica;
}

td {
	padding: 4px;
}

textarea, input[type=text], input[type=email], input[type=url], input[type=tel], input[type=password] {
	padding: 4px;
	border: 1px solid #AAAAAA;
	-webkit-border-radius: 4px;
}

button, input[type=submit] {
	padding: .25em 0.5em;
}

.bForm-results {
	font-size: x-small;
}

#activityIndicator {
	position: fixed;
	left: 50%;
	margin-left: -30px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.75);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	z-index: 5;
	-webkit-transition: top 0.5s ease-in-out;
	color: white;
}

#activityIndicator img {
	display: block;
	-webkit-animation-iteration-count: infinite;
}

#activityIndicator.hidden img {
	display: none;
	-webkit-animation-name: none;
}

#loginStatus {
	padding: 2px;
}

.welcomeBox {
	font-weight: bold;
}

.bordered {
	border: 1px solid #B7B7BC;
	background-color: #FFF;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.roundedTopLeft {
	border: none;
	border-top-left-radius: 8px;
	-moz-border-top-left-radius: 8px;
	-webkit-border-top-left-radius: 8px;
}

.roundedTopRight {
	border: none;
	border-top-right-radius: 8px;
	-moz-border-top-right-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

.roundedBottomLeft {
	border: none;
	border-bottom-left-radius: 8px;
	-moz-border-bottom-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
}

.roundedBottomRight {
	border: none;
	border-bottom-right-radius: 8px;
	-moz-border-bottom-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

.navBar {
	position: relative;
	width: 100%;
	color: #73777F;
	font-size: large;
	font-weight: bolder;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#AAAAB8));
	text-shadow: 1px 1px 1px #DEDEE4;
	text-align: center;
	height: 41px;
	z-index: 1;
}

.navButtonsHolder {
	position: absolute;
	width: 100%;
}

.navLabel {
	padding: 10px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #73777F;
	font-size: large;
	font-weight: bolder;
	text-shadow: 1px 1px 1px #DEDEE4;
	text-align: center;
	z-index: 0;
}

.button {
	position: relative;
	margin: 5px;
	height: 30px;
	z-index: 2;
}

.button[disabled] {
	opacity: 0.5;
}

#homeButton {
	padding: 0;
}

#helpButton {
	font-weight: bolder;
}

.navLeft {
	margin-right: 10px;
}

.navRight {
	margin-left: 10px;
}

.view {
	display: none;
	padding-bottom: 44px;
}

.view.animating {
	position: absolute;
	top: 0px;
}

.box {
	margin: 10px;
}

.paddedBox {
	padding: 10px;
}

ul.box {
	background: none;
}

ul.box > li {
	overflow: hidden;
	padding: 8px;
	border-bottom: 1px solid rgb(224, 224, 224);
	border-left: 1px solid #B7B7BC;
	border-right: 1px solid #B7B7BC;
	background-color: #FFF;
	background-image: url(Images/chevron.png);
	background-repeat: no-repeat;
	background-position: 95% center;
}

ul.box > li.selected {
	background-image: url(Images/chevron_white.png);
}

ul.box > li:first-child {
	border-left: 1px solid #B7B7BC;
	border-top: 1px solid #B7B7BC;
	border-right: 1px solid #B7B7BC;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

ul.box > li:last-child {
	border-right: 1px solid #B7B7BC;
	border-bottom: 1px solid #B7B7BC;
	border-left: 1px solid #B7B7BC;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

ul.box > li > .label {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: larger;
	font-weight: bold;
}

#answerSpacesList .label {
	overflow: auto;
	white-space: normal;
}

#keywordList .label, #keywordList .description {
	margin-right: 30px;
}

ul.box > li > .description {
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 2px;
	font-size: smaller;
}

#descriptionBox, #argsBox {
	text-align: center;
}

@-webkit-keyframes spinner {
	from {
		-webkit-transform: rotate(0deg);
	}
	8.32% {
		-webkit-transform: rotate(0deg);
	}
	8.33% {
		-webkit-transform: rotate(30deg);
	}
	16.65% {
		-webkit-transform: rotate(30deg);
	}
	16.66% {
		-webkit-transform: rotate(60deg);
	}
	24.99% {
		-webkit-transform: rotate(60deg);
	}
	25% {
		-webkit-transform: rotate(90deg);
	}
	33.32% {
		-webkit-transform: rotate(90deg);
	}
	33.33% {
		-webkit-transform: rotate(120deg);
	}
	41.65% {
		-webkit-transform: rotate(120deg);
	}
	41.66% {
		-webkit-transform: rotate(150deg);
	}
	49.99% {
		-webkit-transform: rotate(150deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
	}
	58.32% {
		-webkit-transform: rotate(180deg);
	}
	58.33% {
		-webkit-transform: rotate(210deg);
	}
	66.65% {
		-webkit-transform: rotate(210deg);
	}
	66.66% {
		-webkit-transform: rotate(240deg);
	}
	74.99% {
		-webkit-transform: rotate(240deg);
	}
	75% {
		-webkit-transform: rotate(270deg);
	}
	83.32% {
		-webkit-transform: rotate(270deg);
	}
	83.33% {
		-webkit-transform: rotate(300deg);
	}
	91.65% {
		-webkit-transform: rotate(300deg);
	}
	91.66% {
		-webkit-transform: rotate(330deg);
	}
	99.99% {
		-webkit-transform: rotate(330deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
