body {
	background-color: #E3E4EA;
	font-family: Helvetica;
	font-size: medium;
}

#activityIndicator {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -30px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.75);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	z-index: 5;
}

#activityIndicator img {
	display: block;
	-webkit-animation-name: spinner;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear; */
}

#stackLayout {
	position: relative;
	top: 0;
	right: 0;
}

#welcomeMsgArea {
	display: none;
}

#welcomeMessage {
	position: relative;
	padding: 15px;
	font-weight: bold;
}

.bordered {
	border: 1px solid #B7B7BC;
	background-color: #FFF;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.roundedTopLeft {
	border: none;
	border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
}

.roundedTopRight {
	border: none;
	border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}

.roundedBottomLeft {
	border: none;
	border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

.roundedBottomRight {
	border: none;
	border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

.navBar {
	position: relative;
	width: 100%;
	color: #73777F;
	font-size: large;
	font-weight: bolder;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#AAAAB8));
	text-shadow: 1px 1px 1px #DEDEE4;
	text-align: center;
	height: 41px;
}

.navButtonsHolder {
	position: absolute;
	width: 100%;
}

.navLabel {
	padding: 10px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #73777F;
	font-size: large;
	font-weight: bolder;
	text-shadow: 1px 1px 1px #DEDEE4;
	text-align: center;
	z-index: 0;
}

.button {
	position: relative;
	margin: 5px;
	height: 30px;
	background: none;
	border-style: none;
	z-index: 2;
}

.buttonLabel {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	padding-top: 7px;
	background-image: url("./Images/button.png");
	background-repeat: repeat-x;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 12px;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}

.button[disabled] {
	opacity: 0.5;
}

.squareButtonLeft, .roundButtonLeft, .backButtonLeft {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-position: left top;
}

.squareButtonRight, .roundButtonRight, .backButtonRight {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background-position: right top;
}

.squareButton {
	padding: 0px 5px;
}

.squareButtonLeft {
	width: 5px;
	background-image: url("./Images/squareButton.png");
	background-repeat: no-repeat;
}

.squareButtonRight {
	width: 5px;
	background-image: url("./Images/squareButton.png");
	background-repeat: no-repeat;
}

.roundButton {
	padding: 0px 11px 0px 15px;
}

.roundButtonLeft {
	width: 15px;
	background-image: url("./Images/roundButton.png");
	background-repeat: no-repeat;
}

.roundButtonRight {
	width: 11px;
	background-image: url("./Images/roundButton.png");
	background-repeat: no-repeat;
}

.backButton {
	padding: 0px 5px 0px 16px;
}

.backButton > .buttonLabel {
	padding-left: 4px;
	padding-right: 2px;
}

.backButtonLeft {
	width: 16px;
	background-image: url("./Images/backButton.png");
	background-repeat: no-repeat;
}

.backButtonRight {
	width: 5px;
	background-image: url("./Images/backButton.png");
	background-repeat: no-repeat;
}

.view {
	display: none;
}

.view.sliding {
	position: absolute;
}

.box {
	margin: 10px;
}

.paddedBox {
	padding: 10px;
}

#keywordList a:link { color: inherit; text-decoration: none; }
#keywordList a:hover { color: inherit; text-decoration: none; }
#keywordList a:visited { color: inherit; text-decoration: none; }
#keywordList a:active { color: inherit; text-decoration: none; }

#keywordList {
	position: relative;
	list-style-type: none;
}

#keywordList > a > li {
	color: black;
	text-align: left;
	position: relative;
	overflow: hidden;
	padding: 10px;
	border-bottom: 1px solid rgb(224, 224, 224);
	border-left: 1px solid #B7B7BC;
	border-right: 1px solid #B7B7BC;
}

#keywordList > a:first-child > li {
	border-left: 1px solid #B7B7BC;
	border-top: 1px solid #B7B7BC;
	border-right: 1px solid #B7B7BC;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}

#keywordList > a:last-child > li {
	border-right: 1px solid #B7B7BC;
	border-bottom: 1px solid #B7B7BC;
	border-left: 1px solid #B7B7BC;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

#keywordList .keywordLabel {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: larger;
	font-weight: bold;
	margin-right: 30px;
}

#keywordList .keywordDescription {
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 5px;
	margin-right: 30px;
	font-size: smaller;
}

#keywordList .nextArrow {
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -7px; /* half height */
	width: 8px;
	height: 13px;
	background-image: url(Images/chevron.png);
	background-repeat: no-repeat;
}

#keywordList > a > li.selected {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#058CF5), to(#015DE6));
	color: white;
	text-shadow: 0px -1px 1px #1D2863;
}

#keywordList > a > li.selected .nextArrow {
	background-image: url(Images/chevron_white.png);
}

#descriptionBox, #argsBox {
	text-align: center;
}

textarea, input[type=text], input[type=password], input[type=telephone] {
	padding: 5px;
	width: 90%;
	border: 1px solid #AAAAAA;
	-webkit-border-radius: 5px;
}

@-webkit-keyframes spinner {
	from {
		-webkit-transform: rotate(0deg);
	}
	8.32% {
		-webkit-transform: rotate(0deg);
	}
	8.33% {
		-webkit-transform: rotate(30deg);
	}
	16.65% {
		-webkit-transform: rotate(30deg);
	}
	16.66% {
		-webkit-transform: rotate(60deg);
	}
	24.99% {
		-webkit-transform: rotate(60deg);
	}
	25% {
		-webkit-transform: rotate(90deg);
	}
	33.32% {
		-webkit-transform: rotate(90deg);
	}
	33.33% {
		-webkit-transform: rotate(120deg);
	}
	41.65% {
		-webkit-transform: rotate(120deg);
	}
	41.66% {
		-webkit-transform: rotate(150deg);
	}
	49.99% {
		-webkit-transform: rotate(150deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
	}
	58.32% {
		-webkit-transform: rotate(180deg);
	}
	58.33% {
		-webkit-transform: rotate(210deg);
	}
	66.65% {
		-webkit-transform: rotate(210deg);
	}
	66.66% {
		-webkit-transform: rotate(240deg);
	}
	74.99% {
		-webkit-transform: rotate(240deg);
	}
	75% {
		-webkit-transform: rotate(270deg);
	}
	83.32% {
		-webkit-transform: rotate(270deg);
	}
	83.33% {
		-webkit-transform: rotate(300deg);
	}
	91.65% {
		-webkit-transform: rotate(300deg);
	}
	91.66% {
		-webkit-transform: rotate(330deg);
	}
	99.99% {
		-webkit-transform: rotate(330deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
