.bLive-screen {
	margin: 0 auto;
	text-align: center;

	h1 { font-size: 175%; }
	h2 { font-size: 130%; }

	.button {
		display: inline-block;
		margin: .5em;
		padding: .25em;
		height: auto;
		text-decoration: none;
		cursor: pointer;
		background-color: #66E;
		border: 2px solid #77F;
		border-radius: 4px;
		color: #FFF;
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;

		&:hover { background-color: #77F; }

		&.refresh {
			background-color: #4B4;
			border: 2px solid #5D5;
			&:hover { background-color: #5D5; }
		}

		&.important {
			background-color: #B33;
			border: 2px solid #F77;
			&:hover { background-color: #F77; }
		}
	}
}

.bLive-box, .bLive-link {
	margin: .5em auto;
	border: .2em solid #77F;
	background-color: #FFF;
	width: 85%;
	max-width: 35em;
}
.bLive-box.narrow, .bLive-link {
	width: 85%;
	max-width: 25em;
}
.bLive-box table {
	margin: 1em auto;
}
.bLive-box td {
	border-spacing: 0;
	text-align: left;
	padding: .25em;
}
.bLive-link {
	display: block;
	padding: 1em;
	text-decoration: none;
	cursor: pointer;
}
.bLive-link:hover, .bLive-link.even:hover {
	background-color: #EEF;
}
.bLive-link.odd:hover {
	background-color: #FFE;
}
.actionresult {
	font-style: italic;
	color: #003;
}
.bLive-shoutbox {
	textarea, input[type=text] {
		margin: .2em;
		padding: .4em;
		font-size: larger;
		border: .2em solid #77F;
	}
}
.bLive-shout {
	padding: 0 .5em;
	text-align: left;
	font-size: larger;
	>.info {
		font-size: smaller;
		text-align: right;
	}
}
.bLive-results, .bLive-poll, .bLive-survey {
	padding: 1em;
}

