@mixin img-center {
	margin: .5em auto;
}

.googlemaps img {
	max-height: none;
	max-width: none;
}

figure {
	img {
  	display: block;
		@include img-center;
	}
}

form {
	img {
    display: none;
		max-width: 100%;
		max-height: $formImgMaxHeight;
    height: auto;
    &[src] {
      display: block;
    }
		&[name] {
			@include img-center;
		}
	}

	td {
		padding: .2em;
		&[colspan] { padding: 0; }
	}
}

form {
	/* we are currently hiding form metadata in a caption <element> */
	caption.bForm-input { display: none; }

	col {
		&.bForm-tooltip { width: 24px; }
		&.bForm-label { width: 35%; }
		&.bForm-input { width: 65%; }
	}

	table {
		overflow: hidden;
		width: 100%;
		text-align: left;
		border-spacing: 0;
		table-layout: fixed;

		table {
			margin-bottom: 2px;
			border-bottom: 2px solid #AAA;
		}
	}

	td.bForm-input {
		padding-right: 30px;

		> input[type=button] { display: inline-block; }

		> .radiooption, > .checkoption {
			display: table-row;

			label, input[type=radio], input[type=checkbox] {
				text-align: left;
				display: table-cell;
			}
		}

		> span {
			display: inline-block;
		}
    
    .stars {
      font-size: xx-large;
      font-weight: bold;

      > span {
        color: #DDD;
        text-shadow: 0px 0px .2em #000;
      
        &:hover, &.filled {
          color: #EC0;
          text-shadow: 0px 0px .3em #FF0;
        }
        &:hover {
          opacity: .5;
        }
      }
    }
	}
  
  .bForm-list {
    .stars {
      font-size: large;

      > span {
        color: #EEE;
        text-shadow: 0px 0px .3em #000;
      
        &.filled {
          color: #EC0;
          text-shadow: 0px 0px .3em #FF0;
        }
      }
    }
  }

	@media only screen and (max-width: 720px) {
		tr.bField-labelAbove {
			td.bForm-input {
				text-align: center;
			}
		}
	}
	
	@media only screen and (min-width: 721px) {
		tr.bField-labelAbove {
			td.bForm-input {
				padding-left: 35%;
				text-align: left;
			}
		}
	}
	
}

.bForm-subFormLabel {
	display: inline-block;
	font-weight: bolder;
	margin: .5em;
}

.bForm-error { 
  color: $errorColor;
  .bForm-index::before {
    content: '#';
  }
  .bForm-label {
  }
}

.bForm-dataDisplay {
	margin: .5em;
	white-space: pre-wrap;
}

.bForm-label, .bForm-value { font-size: smaller; }

td.bForm-tooltip > span {
	font-size: larger;
	font-weight: bolder;
	color: #000;
	text-outline: 1px 1px #000;
	
	cursor: help;
}

.fieldInput{
    padding-right:1em;
}

.bForm-subFormControls > button {
	padding: .5em;
}

/* pending form styles */

.box {
	.bForm-pending {
	    &.template { display:none; }
		dt, dd { display: inline-block; }
		dt { font-weight: bolder; }
		dt:after { content: ":" }
		pre.uuid {
			white-space: nowrap;
			text-overflow: ellipsis;
			max-width: 90%;
		}
	}
}

/* END: pending form styles */

/* cluetip */
.cluetip{
  margin-left:10px;

  .ui-cluetip-content{
    padding:15px;
    font-size:smaller;
  }
  .cluetip:hover{
    font-weight: bolder;
  }

}
