/*
	- used by all devices on the dynamic client
	- includes BlinkForms2 styles so that the dynamic client just needs a single CSS file
*/
@import "base";

@viewport {
	min-height: device-height;
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
	@include min-width(100%);
	width: 100%;
	font-size: medium;
}

header {
	display: block;
	overflow: hidden;
	width: 100%;
	background-color: $backgroundColor;

	img {
		display: block;
		width: 100%;
	}
}

hr { margin: 15px 0px; }

a {
	cursor: pointer;
	text-decoration: underline;
}

ul, ol {
	-webkit-padding-start: 0px;
}

#stackLayout {
	position: relative;
	z-index: 1;
}

/* controls styles */
@import "controls";
/* end controls */

/* BlinkForms2 styles */
@import "BlinkForms";
/* end BlinkForms2 */

#loginBox input[type=text], #loginBox input[type=password] {
	width: 80%;
}

#loginStatus {
	font-size: small;
	text-align: center;
	cursor: pointer;
}
#loginStatus > .loginAccount {
	font-size: medium;
	color: blue;
}

header, nav, ul.box {
	@include experimental(user-select, none);
}

.googlemap {
	width: 100%;
	height: 360px;
}

img.v1col { width: 100%; height: auto; }
img.v2col { width: 50%; height: auto; }
img.v3col { width: 33%; height: auto; }
img.v4col { width: 25%; height: auto; }


#startUpLoading {
  margin: 10em 0;
  text-align: center;
}

#startUp {
	@include min-height(100%);
	@include min-width(100%);
	position: fixed;
	top: 0;
	background-color: white;
	color: black;
	z-index: 50;
	
  output {
    text-align: center;
    display: none;
    font-family: monospace;
  }
  article {
    display: none;
    margin: 0 auto;
    max-width: 30em;
  }

  &.s-error {
    #startUpLoading {
      margin: 2em 0;
    }
    output {
      display: block;
    }
  }
  
	span {
		&.working { font-weight: bolder; }
		&.error { color: #a00; }
		&.success { color: #0a0; }
	}
}

.view {
	position: relative;
	/* @include single-transition(width, 0.3s, linear, 0s); */
	width: 100%;
	text-align: center;

	&.listing {
		div.box:not(.welcomeBox) {
			line-height: 0px;
			img { display: inline-block; }
		}
	}

}

.box {
	position: relative;
	text-align: center;

	ul, ol {
		margin: .8em 0;
		padding-left: 1.75em;
	}

	p { margin: .8em 0; }
}

.paddedBox {
	text-align: left;
}

#answerSpacesListView .welcomeBox, #helpTitle {
	text-align: center;
}

#categorySelectorArea {
	font-weight: bold;
	margin: 10px;
	text-align: center;
}

#activityIndicator, #navBoxHeader {
  position: fixed;
	z-index: 5;
}

#navBoxHeader, .navBar {
  width: 100%;
  top: 0;

  font-size: large;
  font-weight: bolder;
}

.navLeft {
	float:left;
}

.navCentre {
	margin-left: auto;
	margin-right: auto;
}

.navRight {
	float: right;
}

.argTextField {
	color: black;
	font-family: HelveticaNeue;
	font-size: 10pt;
	position: relative;
	display: block;
	margin-left: 0px;
	margin-top: 0px;
	width: 192px;
}

.selected {
	#helpTitle { color: white; }
	#descriptionTextBox { color: white; }
	#categoryLabel { color: white; }
}

ul.box {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	background: none;

	> li {
		position: relative;
		margin: 0;
		text-align: left;
		overflow: hidden;
		cursor: pointer;

		> div {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			margin: 2px;
		}

		> .label {
			font-size: larger;
			font-weight: bold;
		}

		> .description {
			font-size: smaller;
		}

	}
}

#answerSpacesList .label, #answerSpacesList .description {
	width: 70%;
}

/* BlinkLive styles */
@import "BlinkLive";
/* end BlinkLive */

.blink-star-on, .blink-star-off {
	display: inline-block;
	margin: .1em;
	width: 32px;
	height: 32px;
	background-color: transparent;
}

.blink-star-on {
	background-image: url(/gfx/star-on32.png);
}

.blink-star-off {
	background-image: url(/gfx/star-off32.png);
}

/* BlinkSideBar styles */

#BlinkSideBar {
	position: absolute;
	top: 0;
	display: none;
	width: 0;
	/* @include single-transition(width, 0.3s, linear, 0s); */
	
	> ul.box {
	
		> li {
			@include border-radius(0px);
			border: none;
			background: transparent;
		}
	
	}
}

#stackLayout.bSideBar-on {
	
	#BlinkSideBar {
		display: block;
		position: absolute;
		top: 0;
		@include min-height(100%);
		z-index: 2;
		width: 20%;

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {
				margin: 0;
				padding: 1em .8em;
				font-weight: bold;
				cursor: pointer;
			}
		}
	}
	
	.view {
		margin-left: 20%;
		width: 80%;
	}
	
}


/* end MyAnswersSideBar styles */

@-webkit-keyframes pulse {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

