body {
	background-color: #FFF;
	font-family: sans-serif;
	font-size: medium;
}

td {
	padding: 4px;
}

textarea, input[type=text], input[type=password], input[type=telephone] {
	padding: 2px;
}

#activityIndicator {
	position: fixed;
	width: 100%;
	padding: 10px;
	background: #FFF;
	z-index: 5;
	-webkit-transition: top 0.5s ease-in-out;
	text-align: center;
}

#activityIndicator img {
	display: inline-block;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: spinner;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

#activityIndicator.hidden img {
	display: none;
	-webkit-animation-name: none;
}

#loginStatus, #loginButton {
	float: right;
	text-align: right;
	padding: 4px;
}

#loginStatus a[onclick], #loginButton a[onclick] { color: blue; text-decoration: underline; }*/

#stackLayout {
	position: relative;
	top: 0;
	right: 0;
}

.welcomeBox {
	font-weight: bold;
}

.navBar {
	position: relative;
	width: 100%;
	color: #73777F;
	font-size: large;
	font-weight: bolder;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#CCC));
	text-shadow: 1px 1px 1px #DEDEE4;
	text-align: center;
	height: 30px;
	-webkit-box-shadow: 0px 2px 4px #666;
	z-index: 1;
}

.navButtonsHolder {
	position: absolute;
	width: 100%;
}

.navLabel {
	padding: 10px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #000;
	font-weight: bolder;
	text-shadow: 1px 1px 1px #DEDEE4;
	text-align: center;
	z-index: 0;
}


.navBar .button {
	position: relative;
	height: 100%;
	background: none;
	border-style: none;
	z-index: 2;
	padding: 8px 12px;
	font-weight: bold;
	color: #222;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	border-left: 1px solid #FFF;
	border-right: 1px solid #BBB;
}

.navBar .button[disabled] {
	opacity: 0.5;
}

.view {
	display: none;
}

.view.sliding {
	position: absolute;
}

.paddedBox {
	padding: 10px;
}

ul.box {
	background: none;
}

ul.box li {
	overflow: hidden;
	padding: 8px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #BBB;
	background: #FFF;
}

ul.box .label {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: larger;
	font-weight: bold;
}

#answerSpacesList .label {
	overflow: auto;
	white-space: normal;
}

#keywordList .label, #keywordList .description {
	margin-right: 30px;
}

ul.box .description {
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 2px;
	font-size: smaller;
}

ul.box .nextArrow {
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -7px; /* half height */
	width: 48px;
	height: 54px;
	background-image: url(Images/chevron.png);
	background-repeat: no-repeat;
}

ul.box li.selected {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#058CF5), to(#015DE6));
	color: white;
	text-shadow: 0px -1px 1px #1D2863;
}

ul.box li.selected .nextArrow {
	background-image: url(Images/chevron_white.png);
}

#descriptionBox, #argsBox {
	text-align: center;
}

@-webkit-keyframes pulse {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.6;
	}
}

@-webkit-keyframes spinner {
	from {
		-webkit-transform: rotate(0deg);
	}
	8.32% {
		-webkit-transform: rotate(0deg);
	}
	8.33% {
		-webkit-transform: rotate(30deg);
	}
	16.65% {
		-webkit-transform: rotate(30deg);
	}
	16.66% {
		-webkit-transform: rotate(60deg);
	}
	24.99% {
		-webkit-transform: rotate(60deg);
	}
	25% {
		-webkit-transform: rotate(90deg);
	}
	33.32% {
		-webkit-transform: rotate(90deg);
	}
	33.33% {
		-webkit-transform: rotate(120deg);
	}
	41.65% {
		-webkit-transform: rotate(120deg);
	}
	41.66% {
		-webkit-transform: rotate(150deg);
	}
	49.99% {
		-webkit-transform: rotate(150deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
	}
	58.32% {
		-webkit-transform: rotate(180deg);
	}
	58.33% {
		-webkit-transform: rotate(210deg);
	}
	66.65% {
		-webkit-transform: rotate(210deg);
	}
	66.66% {
		-webkit-transform: rotate(240deg);
	}
	74.99% {
		-webkit-transform: rotate(240deg);
	}
	75% {
		-webkit-transform: rotate(270deg);
	}
	83.32% {
		-webkit-transform: rotate(270deg);
	}
	83.33% {
		-webkit-transform: rotate(300deg);
	}
	91.65% {
		-webkit-transform: rotate(300deg);
	}
	91.66% {
		-webkit-transform: rotate(330deg);
	}
	99.99% {
		-webkit-transform: rotate(330deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
