/*
	- used by all devices on the dynamic client
	- includes BlinkForms2 styles so that the dynamic client just needs a single CSS file
*/
@viewport { min-height: device-height; }

* { margin: 0; padding: 0; }

html, body { min-height: 100%; min-width: 100%; width: 100%; font-size: medium; }

@media (max-device-height: 640px) { html { min-height: 416px; } }
body { position: relative; }

header { display: block; overflow: hidden; width: 100%; background-color: white; }
header img { display: block; width: 100%; }

hr { margin: 15px 0px; }

a { cursor: pointer; text-decoration: underline; }

ul, ol { -webkit-padding-start: 0px; }

#stackLayout { position: relative; z-index: 1; }

/* controls styles */
td input { width: 100%; }
td input[type=button], td input[type=checkbox], td input[type=image], td input[type=radio], td input[type=reset], td input[type=submit], td input[type=file] { width: auto; }
td input[type=file] { font-size: smaller; }

form input[type=reset] { color: #aa0000; }

select { white-space: nowrap; text-overflow: ellipsis; }

textarea, select, input, label, button, input[type=button], input[type=reset], input[type=submit] { max-width: 100%; font-size: medium; }

textarea { width: 100%; height: 5em; min-height: 5em; }
textarea[rows] { height: auto; }
textarea[cols] { width: auto; }

input[type=checkbox], input[type=radio] { margin: .4em; }

button, input[type=button], input[type=reset], input[type=submit], .button { -moz-appearance: none; -webkit-appearance: none; appearance: none; border: 1px solid #000; background-color: #fff; margin: .2em; padding: .5em 1em; min-width: 3em; font-weight: bold; }
button[disabled], input[disabled][type=button], input[disabled][type=reset], input[disabled][type=submit], .button[disabled] { opacity: 0.5; }

/* end controls */
/* BlinkForms2 styles */
figure img { display: block; margin: .5em auto; }

form img { max-width: 100%; max-height: 10em; }
form img[name] { display: block; margin: .5em auto; }
form td { padding: .2em; }
form td[colspan] { padding: 0; }

form { /* we are currently hiding form metadata in a caption <element> */ }
form caption.bForm-input { display: none; }
form col.bForm-tooltip { width: 24px; }
form col.bForm-label { width: 35%; }
form col.bForm-input { width: 65%; }
form table { overflow: hidden; width: 100%; text-align: left; border-spacing: 0; table-layout: fixed; }
form table table { margin-bottom: 2px; border-bottom: 2px solid #AAA; }
form .bForm-input > span { display: inline-block; }

.bForm-subFormLabel { display: inline-block; font-weight: bolder; margin: .5em; }

.bForm-error { color: #aa0000; }

.bForm-dataDisplay { white-space: pre-wrap; }

.bForm-label, .bForm-value { font-size: smaller; }

.bForm-input > .radiooption, .bForm-input > .checkoption { display: table-row; }

.bForm-input > .radiooption label, .bForm-input > .radiooption input[type=radio], .bForm-input > .radiooption input[type=checkbox] { display: table-cell; }

.bForm-input > input[type=button] { display: inline-block; }

.bForm-input { padding-right: 30px; }

.bForm-tooltip > span { font-size: larger; font-weight: bolder; color: #FFF; text-outline: 1px 1px #000; text-shadow: 0 0 .5em #000; cursor: help; }

.fieldInput { padding-right: 1em; }

.bForm-subFormControls > button, .bForm-subFormControls > input[type=button], .bForm-subFormControls > input[type=reset], .bForm-subFormControls > input[type=submit] { padding: .5em; }

/* signature pad styles */
#signaturePad { position: fixed; margin: 0; padding: 0; top: 0; left: 0; background-color: transparent; z-index: 10; }

.signaturePad { display: none; clear: both; }
.signaturePad > canvas { margin: 0px auto; border: 2px solid #A00; background-color: #FFF; position: relative; cursor: crosshair; }

/* end signature pad styles */
/* end BlinkForms2 */
#loginBox input[type=text], #loginBox input[type=password] { width: 80%; }

#loginStatus { font-size: small; text-align: center; cursor: pointer; }

#loginStatus > .loginAccount { font-size: medium; color: blue; }

header, nav, ul.box { -moz-user-select: none; -webkit-user-select: none; -o-user-select: none; -ms-user-select: none; user-select: none; }

.googlemap { width: 100%; height: 360px; }

.hidden { display: none !important; z-index: -1 !important; }

img.v1col { width: 100%; }

img.v2col { width: 50%; }

img.v3col { width: 33%; }

img.v4col { width: 25%; }

#startUp { min-height: 100%; min-width: 100%; position: fixed; top: 0; padding-top: 20%; background-color: white; color: black; text-align: center; z-index: 50; }

.view { position: relative; width: 100%; text-align: center; }

.box { position: relative; text-align: center; }
.box ul, .box ol { margin: .8em 0; padding-left: 1.75em; }
.box p { margin: .8em 0; }

.paddedBox { text-align: left; }

#answerSpacesListView .welcomeBox, #helpTitle { text-align: center; }

#categorySelectorArea { font-weight: bold; margin: 10px; text-align: center; }

#activityIndicator, #navBoxHeader { z-index: 5; }

.navLeft { float: left; }

.navCentre { margin-left: auto; margin-right: auto; }

.navRight { float: right; }

.argTextField { color: black; font-family: HelveticaNeue; font-size: 10pt; position: relative; display: block; margin-left: 0px; margin-top: 0px; width: 192px; }

.selected #helpTitle { color: white; }
.selected #descriptionTextBox { color: white; }
.selected #categoryLabel { color: white; }

#masterCategoriesBox, #categoriesBox, #keywordBox { line-height: 0px; }
#masterCategoriesBox img, #categoriesBox img, #keywordBox img { display: inline-block; }

ul.box { position: relative; margin: 0; padding: 0; list-style: none; background: none; }
ul.box > li { position: relative; margin: 0; text-align: left; overflow: hidden; cursor: pointer; }
ul.box > li > div { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin: 2px; }
ul.box > li > .label { font-size: larger; font-weight: bold; }
ul.box > li > .description { font-size: smaller; }

#answerSpacesList .label, #answerSpacesList .description { width: 70%; }

/* BlinkLive styles */
.bLive-screen { margin: 0 auto; text-align: center; }
.bLive-screen h1 { font-size: 175%; }
.bLive-screen h2 { font-size: 130%; }
.bLive-screen .button { display: inline-block; margin: .5em; padding: .25em; height: auto; text-decoration: none; cursor: pointer; background-color: #66E; border: 2px solid #77F; border-radius: 4px; color: #FFF; font-family: inherit; font-size: inherit; font-weight: inherit; }
.bLive-screen .button:hover { background-color: #77F; }
.bLive-screen .button.refresh { background-color: #4B4; border: 2px solid #5D5; }
.bLive-screen .button.refresh:hover { background-color: #5D5; }
.bLive-screen .button.important { background-color: #B33; border: 2px solid #F77; }
.bLive-screen .button.important:hover { background-color: #F77; }

.bLive-box, .bLive-link { margin: .5em auto; border: .2em solid #77F; background-color: #FFF; width: 85%; max-width: 35em; }

.bLive-box.narrow, .bLive-link { width: 85%; max-width: 25em; }

.bLive-box table { margin: 1em auto; }

.bLive-box td { border-spacing: 0; text-align: left; padding: .25em; }

.bLive-link { display: block; padding: 1em; text-decoration: none; cursor: pointer; }

.bLive-link:hover, .bLive-link.even:hover { background-color: #EEF; }

.bLive-link.odd:hover { background-color: #FFE; }

.actionresult { font-style: italic; color: #003; }

.bLive-shoutbox textarea, .bLive-shoutbox input[type=text] { margin: .2em; padding: .4em; font-size: larger; border: .2em solid #77F; }

.bLive-shout { padding: 0 .5em; text-align: left; font-size: larger; }
.bLive-shout > .info { font-size: smaller; text-align: right; }

.bLive-results, .bLive-poll, .bLive-survey { padding: 1em; }

/* end BlinkLive */
.blink-star-on, .blink-star-off { display: inline-block; margin: .1em; width: 32px; height: 32px; background-color: transparent; }

.blink-star-on { background-image: url(/gfx/star-on32.png); }

.blink-star-off { background-image: url(/gfx/star-off32.png); }

/* MyAnswersSideBar styles */
#MyAnswersSideBar { position: absolute; top: 0; min-height: 100%; z-index: 2; -moz-user-select: none; -webkit-user-select: none; -o-user-select: none; -ms-user-select: none; user-select: none; }
#MyAnswersSideBar > ul { margin: 0; padding: 0; list-style: none; }
#MyAnswersSideBar > ul > li { margin: 0; padding: 1em .8em; font-weight: bold; cursor: pointer; }

/* end MyAnswersSideBar styles */
@-webkit-keyframes pulse { from { opacity: 1; }
  to { opacity: 0; } }
