/*
	- used by all devices on the dynamic client
	- includes BlinkForms2 styles so that the dynamic client just needs a single CSS file
*/
/* line 7, scss/common.scss */
* {
  margin: 0;
  padding: 0; }

/* line 12, scss/common.scss */
html, body {
  min-height: 100%;
  min-width: 100%;
  font-size: medium; }

/* line 18, scss/common.scss */
header {
  display: block;
  overflow: hidden;
  width: 100%;
  background-color: white; }
  /* line 24, scss/common.scss */
  header img {
    display: block;
    width: 100%; }

/* line 30, scss/common.scss */
hr {
  margin: 15px 0px; }

/* line 32, scss/common.scss */
a {
  cursor: pointer;
  text-decoration: underline; }

/* line 37, scss/common.scss */
ul, ol {
  -webkit-padding-start: 0px; }

/* line 41, scss/common.scss */
#content, #stackLayout {
  position: relative;
  z-index: 1; }

/* BlinkForms2 styles */
/*
	- used by all devices that render BlinkForms2
*/
/* controls styles */
/*
	- styles related to input controls
	- used in BlinkForms2, and therefore in common
*/
/* line 7, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_controls.scss */
td input {
  width: 100%; }
  /* line 9, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_controls.scss */
  td input[type=button], td input[type=checkbox], td input[type=image], td input[type=radio], td input[type=reset], td input[type=submit], td input[type=file] {
    width: auto; }
  /* line 10, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_controls.scss */
  td input[type=file] {
    font-size: smaller; }

/* line 15, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_controls.scss */
form input[type=reset] {
  color: #aa0000; }

/* line 20, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_controls.scss */
select {
  white-space: nowrap;
  text-overflow: ellipsis; }

/* line 25, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_controls.scss */
textarea, select, input, label, button, input[type=button], input[type=reset], input[type=submit] {
  max-width: 100%;
  font-size: medium; }

/* line 30, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_controls.scss */
textarea {
  width: 100%;
  height: 5em;
  min-height: 5em; }
  /* line 34, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_controls.scss */
  textarea[rows] {
    height: auto; }
  /* line 35, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_controls.scss */
  textarea[cols] {
    width: auto; }

/* line 38, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_controls.scss */
input[type=checkbox], input[type=radio] {
  margin: .4em; }

/* line 40, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_controls.scss */
button, input[type=button], input[type=reset], input[type=submit], .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #000;
  background-color: #fff;
  margin: .2em;
  padding: .5em 1em;
  min-width: 3em;
  font-weight: bold; }
  /* line 48, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_controls.scss */
  button[disabled], input[disabled][type=button], input[disabled][type=reset], input[disabled][type=submit], .button[disabled] {
    opacity: 0.5; }

/* end controls */
/* line 16, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
figure img {
  display: block;
  margin: .5em auto; }

/* line 22, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
form img {
  max-width: 100%;
  max-height: 10em; }
  /* line 25, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
  form img[name] {
    display: block;
    margin: .5em auto; }
/* line 30, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
form td {
  padding: .2em; }
  /* line 32, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
  form td[colspan] {
    padding: 0; }

/* line 36, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
form {
  /* we are currently hiding form metadata in a caption <element> */ }
  /* line 38, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
  form caption.bForm-input {
    display: none; }
  /* line 41, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
  form col.bForm-tooltip {
    width: 24px; }
  /* line 42, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
  form col.bForm-label {
    width: 35%; }
  /* line 43, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
  form col.bForm-input {
    width: 65%; }
  /* line 46, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
  form table {
    overflow: hidden;
    width: 100%;
    text-align: left;
    border-spacing: 0;
    table-layout: fixed; }
    /* line 53, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
    form table table {
      margin-bottom: 2px;
      border-bottom: 2px solid #AAA; }
  /* line 60, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
  form .bForm-input > span {
    display: inline-block; }

/* line 66, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
.bForm-subFormLabel {
  display: inline-block;
  font-weight: bolder;
  margin: .5em; }

/* line 72, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
.bForm-error {
  color: #aa0000; }

/* line 74, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
.bForm-dataDisplay {
  white-space: pre-wrap; }

/* line 78, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
.bForm-label, .bForm-value {
  font-size: smaller; }

/* line 79, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
.bForm-input > .radiooption, .bForm-input > .checkoption {
  display: table-row; }

/* line 80, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
.bForm-input > .radiooption label, .bForm-input > .radiooption input[type=radio], .bForm-input > .radiooption input[type=checkbox] {
  display: table-cell; }

/* line 81, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
.bForm-input > input[type=button] {
  display: inline-block; }

/* line 82, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
.bForm-input {
  padding-right: 30px; }

/* line 83, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
.bForm-tooltip > span {
  font-size: larger;
  font-weight: bolder;
  color: #FFF;
  text-outline: 1px 1px #000;
  text-shadow: 0 0 .5em #000;
  cursor: help; }

/* line 92, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
.fieldInput {
  padding-right: 1em; }

/* line 96, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/BlinkForms2.scss */
.bForm-subFormControls > button, .bForm-subFormControls > input[type=button], .bForm-subFormControls > input[type=reset], .bForm-subFormControls > input[type=submit] {
  padding: .5em; }

/* end BlinkForms2 */
/* line 50, scss/common.scss */
#loginBox input[type=text], #loginBox input[type=password] {
  width: 80%; }

/* line 54, scss/common.scss */
#loginStatus {
  font-size: small;
  text-align: center;
  cursor: pointer; }

/* line 59, scss/common.scss */
#loginStatus > .loginAccount {
  font-size: medium;
  color: blue; }

/* line 64, scss/common.scss */
header, nav, ul.box {
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 68, scss/common.scss */
.googlemap {
  width: 100%;
  height: 360px; }

/* line 73, scss/common.scss */
.hidden {
  display: none !important;
  z-index: -1 !important; }

/* line 78, scss/common.scss */
img.v1col {
  width: 100%; }

/* line 79, scss/common.scss */
img.v2col {
  width: 50%; }

/* line 80, scss/common.scss */
img.v3col {
  width: 33%; }

/* line 81, scss/common.scss */
img.v4col {
  width: 25%; }

/* line 84, scss/common.scss */
#startUp, #content, #activeContent {
  min-height: 100%;
  min-width: 100%; }

/* line 89, scss/common.scss */
#startUp {
  position: absolute;
  top: 0;
  padding-top: 20%;
  background-color: white;
  color: black;
  text-align: center;
  z-index: 50; }

/* line 99, scss/common.scss */
#content {
  position: relative; }

/* line 103, scss/common.scss */
#activeContent {
  position: relative;
  overflow-x: hidden;
  clear: both; }

/* line 109, scss/common.scss */
.view {
  position: relative;
  width: 100%;
  text-align: center; }

/* line 115, scss/common.scss */
.box {
  position: relative;
  text-align: center; }
  /* line 119, scss/common.scss */
  .box ul, .box ol {
    margin: .8em 0;
    padding-left: 1.75em; }
  /* line 124, scss/common.scss */
  .box p {
    margin: .8em 0; }

/* line 127, scss/common.scss */
.paddedBox {
  text-align: left; }

/* line 131, scss/common.scss */
#answerSpacesListView .welcomeBox, #helpTitle {
  text-align: center; }

/* line 135, scss/common.scss */
#categorySelectorArea {
  font-weight: bold;
  margin: 10px;
  text-align: center; }

/* line 141, scss/common.scss */
#activityIndicator, #navBoxHeader {
  z-index: 5; }

/* line 145, scss/common.scss */
.navLeft {
  float: left; }

/* line 149, scss/common.scss */
.navCentre {
  margin-left: auto;
  margin-right: auto; }

/* line 154, scss/common.scss */
.navRight {
  float: right; }

/* line 158, scss/common.scss */
.argTextField {
  color: black;
  font-family: HelveticaNeue;
  font-size: 10pt;
  position: relative;
  display: block;
  margin-left: 0px;
  margin-top: 0px;
  width: 192px; }

/* line 170, scss/common.scss */
.selected #helpTitle {
  color: white; }
/* line 171, scss/common.scss */
.selected #descriptionTextBox {
  color: white; }
/* line 172, scss/common.scss */
.selected #categoryLabel {
  color: white; }

/* line 174, scss/common.scss */
#masterCategoriesBox, #categoriesBox, #keywordBox {
  line-height: 0px; }

/* line 178, scss/common.scss */
#masterCategoriesBox img, #categoriesBox img, #keywordBox img, #answerSpacesList img {
  display: inline-block; }

/* line 182, scss/common.scss */
ul.box {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  background: none; }
  /* line 189, scss/common.scss */
  ul.box > li {
    position: relative;
    margin: 0;
    text-align: left;
    overflow: hidden;
    cursor: pointer; }
    /* line 196, scss/common.scss */
    ul.box > li > div {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin: 2px; }
    /* line 203, scss/common.scss */
    ul.box > li > .label {
      font-size: larger;
      font-weight: bold; }
    /* line 208, scss/common.scss */
    ul.box > li > .description {
      font-size: smaller; }

/* line 215, scss/common.scss */
#answerSpacesList .label, #answerSpacesList .description {
  width: 70%; }

/* BlinkLive styles */
/* line 1, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_BlinkLive.scss */
.bLive-screen {
  margin: 0 auto;
  text-align: center; }
  /* line 5, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_BlinkLive.scss */
  .bLive-screen h1 {
    font-size: 175%; }
  /* line 6, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_BlinkLive.scss */
  .bLive-screen h2 {
    font-size: 130%; }
  /* line 8, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_BlinkLive.scss */
  .bLive-screen .button {
    display: inline-block;
    margin: .5em;
    padding: .25em;
    height: auto;
    text-decoration: none;
    cursor: pointer;
    background-color: #66E;
    border: 2px solid #77F;
    border-radius: 4px;
    color: #FFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit; }
    /* line 23, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_BlinkLive.scss */
    .bLive-screen .button:hover {
      background-color: #77F; }
    /* line 25, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_BlinkLive.scss */
    .bLive-screen .button.refresh {
      background-color: #4B4;
      border: 2px solid #5D5; }
      /* line 28, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_BlinkLive.scss */
      .bLive-screen .button.refresh:hover {
        background-color: #5D5; }
    /* line 31, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_BlinkLive.scss */
    .bLive-screen .button.important {
      background-color: #B33;
      border: 2px solid #F77; }
      /* line 34, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_BlinkLive.scss */
      .bLive-screen .button.important:hover {
        background-color: #F77; }

/* line 39, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_BlinkLive.scss */
.bLive-box, .bLive-link {
  margin: .5em auto;
  border: .2em solid #77F;
  background-color: #FFF;
  width: 85%;
  max-width: 35em; }

/* line 46, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_BlinkLive.scss */
.bLive-box.narrow, .bLive-link {
  width: 85%;
  max-width: 25em; }

/* line 50, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_BlinkLive.scss */
.bLive-box table {
  margin: 1em auto; }

/* line 53, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_BlinkLive.scss */
.bLive-box td {
  border-spacing: 0;
  text-align: left;
  padding: .25em; }

/* line 58, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_BlinkLive.scss */
.bLive-link {
  display: block;
  padding: 1em;
  text-decoration: none;
  cursor: pointer; }

/* line 64, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_BlinkLive.scss */
.bLive-link:hover, .bLive-link.even:hover {
  background-color: #EEF; }

/* line 67, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_BlinkLive.scss */
.bLive-link.odd:hover {
  background-color: #FFE; }

/* line 70, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_BlinkLive.scss */
.actionresult {
  font-style: italic;
  color: #003; }

/* line 75, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_BlinkLive.scss */
.bLive-shoutbox textarea, .bLive-shoutbox input[type=text] {
  margin: .2em;
  padding: .4em;
  font-size: larger;
  border: .2em solid #77F; }

/* line 82, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_BlinkLive.scss */
.bLive-shout {
  padding: 0 .5em;
  text-align: left;
  font-size: larger; }
  /* line 86, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_BlinkLive.scss */
  .bLive-shout > .info {
    font-size: smaller;
    text-align: right; }

/* line 91, /Users/ron/Projects/answers/bf2js/public_html/_R_/common/3/scss/_BlinkLive.scss */
.bLive-results, .bLive-poll, .bLive-survey {
  padding: 1em; }

/* end BlinkLive */
/* line 223, scss/common.scss */
.blink-star-on, .blink-star-off {
  display: inline-block;
  margin: .1em;
  width: 32px;
  height: 32px;
  background-color: transparent; }

/* line 231, scss/common.scss */
.blink-star-on {
  background-image: url(/gfx/star-on32.png); }

/* line 235, scss/common.scss */
.blink-star-off {
  background-image: url(/gfx/star-off32.png); }

/* MyAnswersSideBar styles */
/* line 241, scss/common.scss */
#MyAnswersSideBar {
  position: absolute;
  top: 0;
  min-height: 100%;
  z-index: 2;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  /* line 248, scss/common.scss */
  #MyAnswersSideBar > ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    /* line 253, scss/common.scss */
    #MyAnswersSideBar > ul > li {
      margin: 0;
      padding: 1em .8em;
      font-weight: bold;
      cursor: pointer; }

/* end MyAnswersSideBar styles */
/* signature pad styles */
/* line 266, scss/common.scss */
#signaturePad {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 10; }

/* line 276, scss/common.scss */
.signaturePad {
  display: none;
  clear: both; }
  /* line 280, scss/common.scss */
  .signaturePad > canvas {
    margin: 0px auto;
    border: 2px solid #A00;
    background-color: #FFF;
    position: relative;
    cursor: crosshair; }

/* end signature pad styles */
@-webkit-keyframes pulse {
  /* line 292, scss/common.scss */
  from {
    opacity: 1; }

  /* line 295, scss/common.scss */
  to {
    opacity: 0; } }
